<!DOCTTYPE html>
<html>
  <head>
    <title><%= t %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <link rel="stylesheet" href="/style.css">
  <body>
  <h1><%- t %></h1>
  <p><%- d %></p>
  </body>
</html>
